name: Run Tests
on:
  pull_request:
    branches: [main]
  workflow_dispatch:
env:
  SOME_VALUE: 'foo'
  EMPTY_VALUE: ''
jobs:
  run-all-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run all tests.
        run: ./scripts/run-tests.sh
      - name: check ternary
        env:
          SET_VALUE: ${{ env.SOME_VALUE && env.SOME_VALUE || 'unset' }}
          UNSET_VALUE:  ${{ env.EMPTY_VALUE && env.EMPTY_VALUE || 'unset' }}
          NO_TERNARY_SET: ${{ env.SOME_VALUE || 'unset' }}
          NO_TERNARY_UNSET: ${{ env.EMPTY_VALUE || 'unset' }}
        run: |
          echo "SET_VALUE => ${SET_VALUE}"
          echo "UNSET_VALUE => ${UNSET_VALUE}"
          echo "NO_TERNARY_SET_VALUE => ${NO_TERNARY_SET}"
          echo "NO_TERNARY_UNSET_VALUE => ${NO_TERNARY_UNSET}"
      - name: set-true
        id: set-true
        uses: actions/github-script@latest
        with:
          script: |
            let foo = 'foo'
            core.setOutput('is-foo', foo == 'foo')
            core.setOutput('is-bar', foo == 'bar')
      - name: check set-true
        env:
          IS_FOO: ${{ steps.set-true.outputs.is-foo && steps.set-true.outputs.is-foo || 'nope' }}
          IS_BAR: ${{ steps.set-true.outputs.is-bar && steps.set-true.outputs.is-bar || 'nope' }}
        run: |
          echo "FOO: ${IS_FOO}"
          echo "BAR: ${IS_BAR}"
      - name: conditional-step
        if: |
          steps.set-true.outputs.is-foo
          && steps.set-true.outputs.is-bar
        run: echo "should not run"

